<a href="https://colab.research.google.com/github/DavHRod/Proyecto-Final-POO-2021-1/blob/main/Proyecto_Final_POO_G7_2021_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#Importacion de librerias a usar
import sqlite3
from sqlite3 import Error

#Funcion de iniciacion de la base de datos
def sql_connection():
    try:
        con = sqlite3.connect('VaccineDataBase.db')
        return con
    except Error:
        print(Error)
#Funcion de creacion primary keys
def sql_table(con):
    cursorObj = con.cursor()
    cursorObj.execute("CREATE TABLE Vacunas(id integer PRIMARY KEY, nombre text, apellido text, Vacunado bool)")

SyntaxError: ignored

In [11]:
#Conexion con la base de datos
con=sql_connection()
#Ejecucion de funciones
sql_table(con)

OperationalError: ignored

In [ ]:
#Cerrar conexion
con.close()

In [ ]:
#Ac√° dejamos los comandos sqlite3
#Crear// Tabla cursorObj.execute("CREATE TABLE Nombre_De_Tabla(Campo1 Tipo_Dato Situacional(PRIMARY KEY), Campo2 Tipo_Dato, N_Campos Su_Tipo_Dato)")
#Insert// cursorObj.execute("INSERT INTO Nombre_De_Tabla VALUES(Campo1, Campo2, N_Campos_Concordes_Al_#_Campos)")
#Updates// cursorObj.execute('UPDATE Nombre_De_Tabla SET Campo_Modificar = Valor_Nuevo where Campo_de_Identificacion = PRIMARY KEY')

#Recordar que existen comandos que no funcionan correctamente sin un SELECT
#Select// cursorObj.execute('SELECT Campo1, Campo2, N_campos FROM Nombre_de_tabla')
#Para seleccionar todo usar * en ves de campos

#Deletes// cursorObj.execute('DELETE FROM Nombre_De_Tabla').rowcount
#.rowcount, devuelve el numero de filas borradas

#!!!!!Drop!!!!!// DROP TABLE Nombre_De_Tabla